body {
	background: #BF6766;
}

.menu {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	width: 100px;
	height: 60px;
	cursor: pointer;
 
}

.bar,
.bar:after,
.bar:before {
  width: 60px;
	height: 10px;
}

.bar {
	position: relative;
	transform: translateY(25px);
	background: rgba(0, 0, 0, 1);
	transition: all 0ms 300ms;
  
  &::before {
	  content: "";
	  position: absolute;
	  left: 0;
	  bottom: 25px;
	  background: rgba(0, 0, 0, 1);
	  transition: bottom .3s .3s cubic-bezier(0.23, 1, 0.32, 1), transform .3s cubic-bezier(0.23, 1, 0.32, 1);
  }
  &::after {
	  content: "";
	  position: absolute;
	  left: 0;
	  top: 25px;
  	background: rgba(0, 0, 0, 1);
	  transition: top .3s .3s cubic-bezier(0.23, 1, 0.32, 1), transform .3s cubic-bezier(0.23, 1, 0.32, 1);
  }
  
  &.animate {
    background: rgba(255, 255, 255, 0);
    &::after {
	    top: 0;
	    transform: rotate(45deg);
	    transition: top .3s cubic-bezier(0.23, 1, 0.32, 1), transform .3s .3s cubic-bezier(0.23, 1, 0.32, 1);
    }
    &::before {
	    bottom: 0;
	    transform: rotate(-45deg);
	    transition: bottom .3s cubic-bezier(0.23, 1, 0.32, 1), transform .3s .3s cubic-bezier(0.23, 1, 0.32, 1);
    }
  }
}